/* -------------- ЦВЕТА -------------- */

$green:           rgba( 50, 255, 100, 1);
$blue:            rgba( 50, 150, 255, 1);
$red:             rgba(255,  50,  50, 1);
$black:           rgba(  0,   0,   0, 1);
$bg:              rgba( 10,  10,  10, 1);
$dark:            rgba( 30,  30,  30, 1);
$graphite:        rgba( 60,  60,  60, 1);
$grey:            rgba(130, 130, 130, 1);
$fg:              rgba(200, 200, 200, 1);
$white:           rgba(255, 255, 255, 1);

/* ------------- РАЗМЕРЫ ------------- */
