/* --------------- ЦВЕТА --------------- */

$green:           rgba(35,  200, 100, 1);
$blue:            rgba(15,  165, 235, 1);
$red:             rgba(240, 70,  70,  1);
$black:           rgba(0,   0,    0,  1);
$bg:              rgba(15,  15,  15,  1);
$dark:            rgba(25,  25,  25,  1);
$fg:              rgba(230, 230, 230, 1);
$white:           rgba(255, 255, 255, 1);
$grey:            rgba(150, 150, 150, 1);

/* -------------- РАЗМЕРЫ -------------- */

