/* -------------- ЦВЕТА -------------- */

$green:           rgba( 25, 165,  45, 1);
$blue:            rgba( 15, 165, 235, 1);
$red:             rgba(230,  50,  40, 1);
$black:           rgba(  0,   0,   0, 1);
$bg:              rgba( 15,  15,  15, 1);
$dark:            rgba( 30,  30,  30, 1);
$white:           rgba(255, 255, 255, 1);
$fg:              rgba(200, 190, 180, 1);
$grey:            rgba(150, 150, 150, 1);

/* ------------- РАЗМЕРЫ ------------- */
