/* -------------- ЦВЕТА -------------- */

$black:           rgba(   0,   0,   0,  1);
$bg:              rgba(  10,  10,  10,  1);
$dark:            rgba(  30,  30,  30,  1);
$graphite:        rgba(  45,  45,  45,  1);
$lead:            rgba(  60,  60,  60,  1);
$grey:            rgba( 120, 120, 120,  1);
$ashy:            rgba( 160, 160, 160,  1);
$fg:              rgba( 200, 200, 200,  1);
$white:           rgba( 255, 255, 255,  1);
$red:             rgba( 255,  50,  50,  1);
$green:           rgba(  50, 255, 100,  1);
$orange:          rgba( 255, 150,  50,  1);
$yellow:          rgba( 255, 255,  50,  1);

/* ------------- РАЗМЕРЫ ------------- */
