/* --------------------- ЦВЕТА --------------------- */

$color-primary:   rgba(34,  197, 94,  1);
$color-secondary: rgba(14,  165, 233, 1);
$color-danger:    rgba(239, 68,  68,  1);
$bg:              rgba(11,  15,  20,  1);
$black:              rgba(0,   0,    0,  1);
$fg:              rgba(229, 231, 235, 1);
$muted:           rgba(148, 163, 184, 1);

/* --------------------- РАЗМЕРЫ --------------------- */

