/* --------------------- ЦВЕТА --------------------- */

$color-primary:   rgb(34,  197, 94,  1);
$color-secondary: rgb(14,  165, 233, 1);
$color-danger:    rgb(239, 68,  68,  1);
$bg:              rgb(11,  15,  20,  1);
$fg:              rgb(229, 231, 235, 1);
$muted:           rgb(148, 163, 184, 1);

/* --------------------- РАЗМЕРЫ --------------------- */

